* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 10%;
}

.banner { 
    position: relative;
    background-color: #4EA0FF;
    background-image: url(./img/pattern.png);
    background-size: 500px; 
    height: 125px;
    
    .logo {
        width: 200px;
        bottom: 10px;
        position: absolute;
        left: 10%;
    }
}

.title {
    font-weight: 900;
    margin-top: 20px;
}

.subtitle  {
    color: darkgrey;
    padding: 2px;
    margin-bottom: 20px;

    h4{
         a {
     color: deepskyblue;
     text-decoration: none;
    }
    }
}

.fisrtP{
    margin-bottom: 20px;
}

.secondP{
    margin-bottom: 20px;
}

.list{
    margin-bottom: 20px;
}

